---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<ulnk rel="icon" href="https://cdn-icons-png.flaticon.com/512/252/252035.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} >
		<title>Justin Busker</title>
	</head>
	<body>
		<Navigation />
		<h1 class="text-gray-500"><span class="text-green-500 px-1">→</span><span class="text-mint-500"> ~</span> cat aboutme.txt</h1> 

		<h1 class="text-gray-500 pr-5 pl-1 text-left sm:w-[65%]"> <br ><b class="text-mint-500">Hello. </b><br>My name is Justin, a current student at 
			<span class="text-red-500">Texas A&M University</span> in <span class="text-blue-500">Computer Engineering</span>.
			<br> <br>
			<p>In my free time I enjoy riding my Giant Roam 4 and listening to Franz Liszt.</p>
			<br>
			<p>I am currently a part of the KARURA Texas A&M Rover Team, working on the communications team as a software engineer</p>
			<br>
<p>I recently competed in TAMU's <a class="text-blue-500 underline" href="https://tidaltamu.com/hackathon">TidalHack</a>, where my team and I won second place! You can view our project <a class="text-green-500 underline" href="https://devpost.com/software/patrick-llm-mcp-application">here</a></p>
			<!--- <p>I am also working on rewriting my terminal-like document editor in my free time, called <span class="text-blue-700 italic"> <a target="_blank" href="https://github.com/justinbusker/NeoDocs_rewrite"> NeoDocs</a></span>. Which is (now) public on my github. Thanks.<p> -->
			<br>
			<p>If you want to connect with / contact me, you can find me here:<p>
			<ul><a href="https://www.linkedin.com/in/justin-busker-209b16263/" class="text-blue-700">LinkedIn</a></li>
				<ul></span><a href="https://github.com/justinbusker" class="text-green-700">GitHub</a></ul>
				<ul><span class="text-purple-500"><a href="mailto:justinbusker@tamu.edu">email me</a></span></ul>
				<br>
		</h1>


	</body>
</html>
