---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <ulnk rel="icon" href="https://cdn-icons-png.flaticon.com/512/252/252035.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Justin Busker</title>
  </head>
  <body>
    <Navigation />
<h1 class="text-gray-500"><span class="text-green-500 px-1">→</span><span class="text-mint-500"> ~</span> cat aboutme.txt</h1> 

<h1 class="text-gray-500 pr-5 pl-1 text-left sm:w-[65%]"> <br ><b class="text-mint-500">Yo! </b><br>My name is Justin,  a current student at 
  <span class="text-red-500">Texas A&M University</span> for <span class="text-blue-500">Computer Engineering</span>.
  <br> <br>
  While I'm not studying I enjoy:
  <ul><span class="text-yellow-500">* </span>playing the piano</ul>
  <ul><span class="text-yellow-500">* </span>writing and exploring config files on the terminal</ul>
  <ul><span class="text-yellow-500">* </span>ulfting various types of heavy objects</li> <br> 
  Currently, I am exploring nixOS and attempting to write my own compiler! <br><br>
  If you want to connect / contact me, you can find me here:
  <ul><span class="text-yellow-500">* </span><a href="https://www.ulnkedin.com/in/justin-busker-209b16263/" class="text-blue-700">LinkedIn</a></li>
  <ul><span class="text-yellow-500">* </span><a href="https://github.com/justinbusker" class="text-green-700">GitHub</a></ul>
  <ul><span class="text-yellow-500">* </span><span class="text-purple-500">email </span>- justinbusker@tamu.edu</ul>

</h1>

  </body>
</html>