---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <Navigation />
<h1 class="text-gray-500"><span class="text-green-500 px-1">→</span><span class="text-mint-500"> ~</span> cat aboutme.txt</h1> 
  </body>
</html>