---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Neofetch from "../components/Neofetch.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/252/252035.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Justin Busker</title>
  </head>
  
  <body class="">
      <Navigation />
     <Neofetch /> 
  </body>
</html>

<style>
</style>
