---
import "../styles/termbgcolors.css";
---

    <div class="grid w-max h-max grid-cols-8 grid-rows-2 items-center">
        <div class="bg-black-700 px-5 py-3 "></div>
        <div class="bg-red-700 px-5 py-3"></div>
        <div class="bg-green-700 px-5 py-3"></div>
        <div class="bg-yellow-700 px-5 py-3"></div>
        <div class="bg-blue-700 px-5 py-3"></div>
        <div class="bg-purple-700 px-5 py-3"></div>
        <div class="bg-mint-700 px-5 py-3"></div>
        <div class="bg-gray-700 px-5 py-3"></div>
        <div class="bg-black-500 px-5 py-3"></div>
        <div class="bg-red-500 px-5 py-3"></div>
        <div class="bg-green-500 px-5 py-3"></div>
        <div class="bg-yellow-500 px-5 py-3"></div>
        <div class="bg-blue-500 px-5 py-3"></div>
        <div class="bg-purple-500 px-5 py-3"></div>
        <div class="bg-mint-500 px-5 py-3"></div>
        <div class="bg-gray-500 px-5 py-3"></div>
    </div>


<style>
div{
    margin:auto;
    align-items: center;
}    
</style>
