---
import "../styles/termbgcolors.css";
---
    <!-- using CPU: to determine width of colors LMAO -->
    <div class="grid w-max h-max grid-cols-8 grid-rows-2 items-center text-[1vw]">
        <div class="bg-black-700 text-black-700 select-none">CPU:</div>
        <div class="bg-red-700 text-red-700 select-none">CPU:</div>
        <div class="bg-green-700 text-green-700 select-none">CPU:</div>
        <div class="bg-yellow-700 text-yellow-700 select-none">CPU:</div>
        <div class="bg-blue-700 text-blue-700 select-none">CPU:</div>
        <div class="bg-purple-700 text-purple-700 select-none">CPU:</div>
        <div class="bg-mint-700 text-mint-700 select-none">CPU:</div>
        <div class="bg-gray-700 text-gray-700 select-none">CPU:</div>
        <div class="bg-black-500 text-black-500 select-none">CPU:</div>
        <div class="bg-red-500 text-red-500 select-none">CPU:</div>
        <div class="bg-green-500 text-green-500 select-none">CPU:</div>
        <div class="bg-yellow-500 text-yellow-500 select-none">CPU:</div>
        <div class="bg-blue-500 text-blue-500 select-none">CPU:</div>
        <div class="bg-purple-500 text-purple-500 select-none">CPU:</div>
        <div class="bg-mint-500 text-mint-500 select-none">CPU:</div>
        <div class="bg-gray-500 text-gray-500 select-none">CPU:</div>
    </div>


<style>
div{
    margin:auto;
    align-items: center;
}    
</style>
