---
---
<div class="grid items-start grid-cols-[repeat(3, .2vw)] gap-x-5 sm:grid-cols-3">
        <div class="grid grid-cols-3 gap-x-1 items-center">
            <a href="/" class="flex flex-row ">
            <div class="p-[2vw] bg-[#595959] sm:p-[10px]"></div>
            <div class="p-[2vw] bg-[#8B8B8B] sm:p-[10px]"></div>
            <div class="p-[2vw] bg-[#BCBCBC] sm:p-[10px]"></div>
            <p class="p-x-1 bg-[#EEEEEE]">Home</p>
            <div class="p-[2vw] bg-[#BCBCBC] sm:p-[10px]"></div>
            <div class="p-[2vw] bg-[#8B8B8B] sm:p-[10px]"></div>
            <div class="p-[2vw] bg-[#595959] sm:p-[10px]"></div>
            </a>

        <a href="/about/" class="flex flex-row ">
            <div class="p-[2vw] bg-[#595959] sm:p-[10px]"></div>
            <div class="p-[2vw] bg-[#8B8B8B] sm:p-[10px]"></div>
            <div class="p-[2vw] bg-[#BCBCBC] sm:p-[10px]"></div>
            <p class="p-x-1 bg-[#EEEEEE]">About</p>
            <div class="p-[2vw] bg-[#BCBCBC] sm:p-[10px]"></div>
            <div class="p-[2vw] bg-[#8B8B8B] sm:p-[10px]"></div>
            <div class="p-[2vw] bg-[#595959] sm:p-[10px]"></div>
        </a>

        <a href="/blog/" class="flex flex-row ">
            <div class="p-[2vw] bg-[#595959] sm:p-[10px]"></div>
            <div class="p-[2vw] bg-[#8B8B8B] sm:p-[10px]"></div>
            <div class="p-[2vw] bg-[#BCBCBC] sm:p-[10px]"></div>
            <p class="p-x-1 bg-[#EEEEEE]">Blog</p>
            <div class="p-[2vw] bg-[#BCBCBC] sm:p-[10px]"></div>
            <div class="p-[2vw] bg-[#8B8B8B] sm:p-[10px]"></div>
            <div class="p-[2vw] bg-[#595959] sm:p-[10px]"></div>
        </a>
        </div>
</div>
<style>
    ul{
        display: grid;
        grid-template-columns: repeat(3, 5em);
        list-style-type: none;
        text-align: center;
        margin: auto;
    }
    a{
        color: #1c2833;
    }
</style>