---
import TerminalTab from "./TerminalTab.astro"
---
<div class="grid items-start grid-cols-[repeat(3, .2vw)] gap-x-5 md:grid-cols-3">
        <div class="grid grid-cols-3 gap-x-10 items-center md:gap-x-10">

			<TerminalTab title="Home" link=""/>
			<TerminalTab title="About" link="about"/>
		</div>
</div>
<style>
    ul{
        display: grid;
        grid-template-columns: repeat(3, 5em);
        list-style-type: none;
        text-align: center;
        margin: auto;
    }
    a{
        color: #1c2833;
    }
</style>
