---
import Colors from "../components/Colors.astro";
import Asciiart from "../components/Asciiart.astro";
---

<div class ="flex flex-row pt-2">
      <Asciiart />
      <h1 class="text-gray-500" >
        <span class="text-green-500"><b>justinbusker</b></span>@<span class="text-green-500"><b>tamu</b></span>
        <br> <span class="text-yellow-500"><b>Class:</b></span>  2026
        <br> <span class="text-yellow-500"><b>Major:</b></span>  Computer Engineering
        <br> <span class="text-yellow-500"><b>Hobbies:</b></span>  Music, Coding, Lifting
        <br> <span class="text-yellow-500"><b>OS:</b></span>  nixOS, macOS
        <br> <span class="text-yellow-500"><b>Shell:</b></span>  zsh 5.9
        <br> <span class="text-yellow-500"><b>WM:</b></span>  hyprland
        <br> <span class="text-yellow-500"><b>Theme:</b></span>  gruvbox
        <br> <span class="text-yellow-500"><b>Terminal:</b></span>  kitty
      
      
    <Colors />
      </h1>
      </div>