---
import Colors from "../components/Colors.astro";
import Asciiart from "../components/Asciiart.astro";
---

<div class ="flex flex-row pt-2">
      <Asciiart />
      <h1 class="text-gray-500" >
        <span class="text-green-500"><b>justin</b></span>@<span class="text-green-500"><b>tamu</b></span>
        <br> <span class="text-yellow-500"><b>OS:</b></span>hello
        <br> <span class="text-yellow-500"><b>OS:</b></span>hello
        <br> <span class="text-yellow-500"><b>OS:</b></span>hello
        <br> <span class="text-yellow-500"><b>OS:</b></span>  hello
      
      
    <Colors />
      </h1>
      </div>